<h1><%= @this_user.username %></h1>

<img src="<%= @this_user.avatar_image_url %>">

<p>Email: <%= @this_user.email %></p>

<p>Number of articles contributed to: <%= @this_user.num_articles %></p>

<p>Number of article edits: <%= @this_user.num_revisions %></p>

<p>Number of comments: <%= @this_user.num_comments; %></p>