<h1><%= @user.username %></h1>

<p>Email: <%= @user.email %></p>

<p>Number of articles contributed to: <%= @user.num_articles %></p>

<p>Number of article edits: <%= @user.num_revisions %></p>

<p>Number of comments: <%= @user.num_comments; %></p>