<div class="article">

  <%= @article.display_bar("edit") %>

  <h1>Edit Article: <%= @article.title %></h1>

  <% if @user.is_admin? %>
    <form method="POST" action="<%= @article.path %>">
      <input type="hidden" name="_method" value="patch">
      <%= edit_input(@article, "title") %>
      <input type="submit" value="Update title">
    </form>
  <% end %>

  <form method="POST" action="<%= build_path(["articles", @article.id, "revisions"]) %>">
    <label>Primary image url: <input type="text" name="primary_image_url" value="<%= @article.current_image %>"></label>
    <br>
    <textarea rows="30" cols="100" name="content"><%= @article.current_content %></textarea>
    <input type="submit">
  </form>

<% if @user.is_admin? %>
  <form method="POST" action="<%= @article.path %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete this article">
  </form>
<% end %>
</div>