<div class="article">

  <div class="bar">
    <ul>
      <li class="active"><%= build_link(["articles", @article.id], "Read") %></li>
      <li><%= build_link(["articles", @article.id, "edit"], "Edit") %></li>
      <li><%= build_link(["articles", @article.id, "revisions"], "Revisions") %></li>
    </ul>
  </div>


  <h1><%= @article.title %></h1>
  
  <img src="<%= @article.current_image %>">

  <div class="article content">
    <%= $markdown.render(@article.current_content) %>
  </div>

  <div class="article categories">
    <h5>Categories:</h5>
    <ul>
      <% @article.categories.each do |category| %>
        <li><%= build_link(["categories", category.id], category.title) %></li>
      <% end %>
    </ul>

    <%= build_link(["articles", @article.id, "categories", "edit"], "Edit categories") %>

  </div>

  <div class="article data">
    <p>Created: <%= @article.created_at %></p>
    <p>Created by: <%=  @article.created_by %></p>

    <p>Last modified: <%= @article.last_modified_at %></p>
    <p>Last modified by: <%= @article.last_modified_by %></p>
  </div>

  <%= build_link(["articles", @article.id, "revisions"], "Revisions") %>
</div>
