<div class="article">

  <%= @article.display_bar("read") %>

  <h1><%= @article.title %></h1>
  <div class="toc">
    <h3>Table of contents</h3>
    <%= $toc_markdown.render(@article.current_content) %>
  </div>
  <% if @article.current_image %>
    <img src="<%= @article.current_image %>">
  <% end %>

  <div class="content">
    <%= $markdown.render(@article.current_content) %>
  </div>

  <div class="categories">
    <h3>Categories:<%= build_link(["articles", @article.id, "categories", "edit"], "Edit categories") %></h3>

    <ul>
      <% @article.categories.each do |category| %>
        <li><%= build_link(["categories", category.id], category.title) %></li>
      <% end %>
    </ul>


  </div>

  <div class="data">
    <p><%= @article.creation_history %></p>
    <p><%= @article.current_history %></p>
  </div>

</div>
