<div class="article">

  <div class="bar">
    <ul>
      <li class="active"><%= build_link(["articles", @article.id], "Read") %></li>
      <li><%= build_link(["articles", @article.id, "edit"], "Edit") %></li>
      <li><%= build_link(["articles", @article.id, "revisions"], "Revisions") %></li>
    </ul>
  </div>


  <h1><%= @article.title %></h1>
  <div class="toc"><%= $toc_markdown.render(@article.current_content) %></div>
  <img src="<%= @article.current_image %>">

  <div class="article content">
    <%= $markdown.render(@article.current_content) %>
  </div>

  <div class="article categories">
    <h3>Categories:<%= build_link(["articles", @article.id, "categories", "edit"], "Edit categories") %></h3>

    <ul>
      <% @article.categories.each do |category| %>
        <li><%= build_link(["categories", category.id], category.title) %></li>
      <% end %>
    </ul>


  </div>

  <div class="article data">
    <p><%= @article.creation_history %></p>
    <p><%= @article.current_history %></p>
  </div>

</div>
