<h1><%= @category.title %></h1>
<form method="POST" action="<%= build_path(["categories", @category.id]) %>">
  <input type="hidden" name="_method" value="patch">
  <%= edit_input(@category, "title") %>
  <input type="submit" value="Update title">
</form>

<% if current_admin? %>
  <form method="POST" action="<%= build_path(["categories", @category.id]) %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete category">
  </form>
<% end %>

<ul>
  <% @category.articles.each do |article| %>
    <li><%= build_link(["articles", article.id], article.title) %>
      <form method="POST" action="<%= build_path(["categories", @category.id, "articles", article.id]) %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Remove from category">
      </form>
    </li>
  <% end %>
</ul>