<div class="article">
  <%= @article.display_bar("revisions") %>
  <div class="revisions">
  <h1>Revisions for <%= @article.title %></h1>
  <ul>
  <% @article.revisions.each_with_index do |revision, index| %>
    <li>
    <% if index == 0 %>
      <%= revision.mod_history_with_date_link("Created") %>
    <% else %>
      <%= revision.mod_history_with_date_link("Modified") %>
    <% end %>
    <% if current_admin? && index != @article.revisions.length - 1 %>
      <form method="POST" action="<%= build_path(["articles", @article.id, "revisions"])%>" class="inline-btn">
        <input type="hidden" name="revision_id" value="<%= revision.id %>">
        <input type="submit" value = "Revert to this revision">
      </form>
    <% end %>
    </li>
  <% end %>
  </ul>
  </div> <!-- .revisions -->

</div> <!-- .article -->