<div class="article">
  <div class="bar">
    <ul>
      <li><%= build_link(["articles", @article.id], "Read") %></li>
      <li><%= build_link(["articles", @article.id, "edit"], "Edit") %></li>
      <li class="active"><%= build_link(["articles", @article.id, "revisions"], "Revisions") %></li>
    </ul>
  </div>
  <h1>Revisions for <%= @article.title %></h1>

  <% @article.revisions.each_with_index do |revision, index| %>
    <% if index == 0 %>
      <p><%= revision.mod_history_with_date_link("Created") %></p>
    <% else %>
      <p><%= revision.mod_history_with_date_link("Modified") %></p>
    <% end %>
    <% if current_admin? && index != @article.revisions.length - 1 %>
      <form method="POST" action="<%= build_path(["articles", @article.id, "revisions"])%>">
        <input type="hidden" name="revision_id" value="<%= revision.id %>">
        <input type="submit" value = "Revert to this revision">
      </form>
    <% end %>

  <% end %>

</div>