<div class="article">
  <div class="bar">
    <ul>
      <li><%= build_link(["articles", @article.id], "Read") %></li>
      <li><%= build_link(["articles", @article.id, "edit"], "Edit") %></li>
      <li class="active"><%= build_link(["articles", @article.id, "revisions"], "Revisions") %></li>
    </ul>
  </div>
  <h1>Revisions for <%= @article.title %></h1>

  <% @article.revisions.each_with_index do |revision, index| %>
    <p><%= build_link(["articles", @article.id, "revisions", revision.id], revision.mod_history("Modified")) %></p>

  <% end %>

</div>