<div class="article">
  <%= @article.display_bar("revisions") %>

  <div class="revision">
    <p><%= @revision.mod_history("Modified") %></p>
    <h2><%= @article.title %></h2>

    <button class="diff-button prev">Diff with previous version</button>
    <button class="diff-button curr">Diff with current version</button>

    <div class="diffs">
      <div class="prev-diff">
        <h3>Diff with previous revision</h3>
        <%= diff_revisions(@article.get_previous_revision(@revision), @revision) %>
      </div> <!-- .prev-diff.hidden -->

      <div class="curr-diff">
        <h3>Diff with current revision</h3>
        <%= diff_revisions(@revision, @article.current_rev) %>
      </div> <!-- .curr-diff.hidden -->
    </div> <!-- .diffs -->

    <div class="toc"><%= $toc_markdown.render(@revision.content) %></div>
    <% if @revision.primary_image_url %>
      <img src="<%= @revision.primary_image_url %>">
    <% end %>

    <div class="content">
      <%= $markdown.render(@revision.content) %>
    </div>
  </div>

  <h4>Comments: <button class="comment toggler">Toggle Comment View</button></h4>
  <div class="comments">
    <% @revision.comments.each_with_index do |comment, index| %>
      <div class="comment">
        <p>Comment <%= index + 1 %></p>
        <p><%= comment.history %></p>

        <%= $markdown.render(comment.content) %>
        <% if current_admin? || @user == comment.user %>
          <form method="POST" action="<%= build_path(["articles", @article.id, "revisions", @revision.id, "comments", comment.id])%>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete comment">
          </form>
        <% end %>
      </div>
    <% end %>

    <% if @user %>
      <h5>Add comment:</h5>
      <form method="POST" action="<%= build_path(["articles", @revision.article_id, "revisions", @revision.id, "comments"]) %>">
        <input type="text" name="content">
        <input type="submit" value="Submit comment">
      </form>

    <% end %>
  </div> <!-- comments -->
</div>