<div class="article">
  <div class="bar">
    <ul>
      <li><%= build_link(["articles", @article.id], "Read") %></li>
      <li><%= build_link(["articles", @article.id, "edit"], "Edit") %></li>
      <li class="active"><%= build_link(["articles", @article.id, "revisions"], "Revisions") %></li>
    </ul>
  </div>
  <div class="revision">
    <p><%= @revision.mod_history("Modified") %></p>

    <%= $markdown.render(@revision.content) %>
  </div>

  <h4>Comments: </h4>
  <div class="comments">
    <% @revision.comments.each_with_index do |comment, index| %>
      <div class="comment">
        <p>Comment <%= index + 1 %></p>
        <p><%= comment.history %></p>

        <%= $markdown.render(comment.content) %>
        <% if @user.is_admin? || @user == comment.user %>
          <form method="POST" action="<%= build_path(["articles", @article.id, "revisions", @revision.id, "comments", comment.id])%>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete comment">
          </form>
        <% end %>
      </div>
    <% end %>

    <% if @user %>
      <h5>Add comment:</h5>
      <form method="POST" action="<%= build_path(["articles", @revision.article_id, "revisions", @revision.id, "comments"]) %>">
        <input type="text" name="content">
        <input type="submit" value="Submit comment">
      </form>

    <% end %>
  </div> <!-- comments -->
</div>